@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Inconsolata", monospace;
}

body {
  /* background: url("assets/bg.jpg") no-repeat center center fixed ; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  color: white;
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: transparent;
  box-shadow: var(--light-shadow);
}
.nav h1 {
  font-family: "Parisienne", cursive;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
}
.logo {
  height: 40px;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  /* Home */
  .Zork {
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  /*
=============== 
Navbar
===============
*/
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 4px;
    background: transparent;
    color: transparent;
  }
  .social-container {
    padding-left: 5%;
    width: 15%;
  }
}

.Home ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

.Game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

.btn {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #272829; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #383838;
  color: white;
}

/* About */

.container {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  background-size: cover;
  margin: auto;
  min-height: 70vh;
  width: 70%;
  padding: 30px;
  background-position: center;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

::-moz-selection {
  background: #0080ff;
  text-shadow: none;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

/* Game */

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin: auto;
  min-height: 70vh;
  width: 70%;
  padding: 30px;
  /* border: solid rgb(11, 58, 11) 5px; */
  color: white;
  text-shadow: 0 0 5px #c8c8c8;
}

.btn-grid {
  display: flex;
  flex-wrap: no-wrap;
  gap: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .Zork {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 30%;
    padding-bottom: 20%;
  }

  .btn-grid {
    flex-wrap: wrap;
  }
}
